@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #a87f7f;
  --color-secondary: #fffae1;
}
* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

h1 {
  @apply text-4xl font-bold;
  font-weight: 800;
}

h2 {
  @apply text-3xl font-bold;
  font-weight: 600;
}

h3 {
  @apply text-2xl font-bold;
  font-weight: 400;
}

button.styled {
  @apply bg-[var(--color-primary)] text-white hover:bg-white hover:border-[var(--color-primary)] border-2 border-transparent hover:border-solid hover:text-black;
  @apply transition-all;
  @apply rounded-md  px-3 py-1.5 text-sm font-bold;
}

a {
}

/* Spinner code */
.spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
